/*==================================================
** detail
==================================================*/
.item-detail {
  margin: 30px auto 80px auto;
  display: flex;
  background: #f2f2f2;
  padding: 30px;
}
.item-detail img {
  width: 100%;
  display: block;
}

/*==================================================
** detail main
==================================================*/
.item-detail-main {
  width: 50%;
  margin-right: 3%;
}
.item-detail-main .mouse-note {
  text-align: center;
  margin-top: 5px;
}
/*==================================================
** detail info
==================================================*/
.item-detail-info {
  width: 47%;
}

.item-detail-name {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}
.item-detail-brand {
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: bold;
}
.item-size {
  margin-bottom: 20px;
  font-size: 18px;
}
.item-size li {
  background: #fff;
  border-radius: 5px;
  display: inline-block;
  padding: 5px 20px;
  font-size: 16px;
  font-weight: bold;
  border: 1px solid #e5e5e5;
  cursor: pointer;
  margin-bottom: 3px;
}
.item-size li.is-active {
  background: #000;
  color: #fff;
}
.item-size-select {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 5px;
}
.item-detail-price {
  font-size: 30px;
  margin-bottom: 20px;
  font-weight: bold;
}
/*==================================================
** review
==================================================*/
.review {
  display: flex;
  font-size: 30px;
}
.review li {
  margin-right: 20px;
  color: #ccc;
  cursor: pointer;
}
.review li.is-active {
  color: #ffc107;
}
